* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border: 1px solid; */
}

/* body { */
/* background-color: #000; */
/* } */






/* header Starts from here */
header {
    background-color: #FAFAFA;
    height: 90px;
    border-radius: 50px;
}

.Logo img {
    max-width: 100px;
    height: auto;
}

.header2 {
    background-color: #FEFEFF;
    height: 60px;
}

/* header Ends here */





/* main Starts from here */

main {
    gap: 5rem;
}

/* hero1 Starts from here */
.hero1 {
    height: 94vh;
    max-height: auto;
    background: #CEE5EC;
    background: linear-gradient(90deg, rgba(206, 229, 236, 1) 0%, rgba(250, 217, 186, 1) 100%);
}

.hero1>div {
    width: 45%;
    padding: 5rem 5rem 0 2.5rem;
}

h2 {
    font-size: 67px;
    font-weight: 600;
}

.hero1>div>div {
    width: 92%;
}

input {
    height: 3.3rem;
}

.hero1 img {
    width: 55%;
}

/* hero1 Ends here */



/* hero2 Starts from here */
.hero2 img {
    width: 4rem;
}

/* hero2 Ends here */


.hero3-CardsImgdiv img {
    width: 120%;
}

/* main Ends here */





@media (max-width: 768px) {
    .headerForOffcanvas {
        background-color: #FAFAFA;
    }

    .header2 {
        height: auto;
    }

    /* I put this here so other will find this easily cause its for small screen */
    .searchSvgForSmallScreen {
        width: 30px;
    }
}